body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: Iosevka, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    background-color: cyan;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background-color: white;
    width: 500px;
    overflow:visible;
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pickup {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    .pickup input[type="radio"] {
        margin-right: 5px;
    }